window#osd {
  border-radius: 16px;
  border: none;
  background: rgba(30, 30, 30, 0.9);
}
window#osd #container {
  margin: 16px;
}
window#osd image,
window#osd label {
  color: #ffffff;
  min-width: 32px;
  min-height: 32px;
}
window#osd image:disabled {
  opacity: 0.5;
}
window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}
window#osd trough,
window#osd segment {
  min-height: 6px;
  border-radius: 999px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
window#osd progress,
window#osd segment.active {
  min-height: 6px;
  border-radius: 999px;
  border: none;
  background: #ffffff;
}
